/* Range Page */
/**
 * Foundation Mixins
 */
/**
 * Retina mixin
 */
#wrapper {
  background-image: url(../../../images/bricks-repeat.jpg);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position: top center;
  background-size: 1920px 985px;
  background-size: 960px 492.5px; }
  @media only screen and (min-width: 1440px) {
    #wrapper {
      background-size: 1920px 985px; } }
  @media only screen and (min-width: 961px) and (max-width: 1439px) {
    #wrapper {
      background-size: 1440px 738.75px; } }

#contentWrapper {
  margin-top: 220px;
  position: relative; }
  @media only screen and (min-width: 0) and (max-width: 960px) {
    #contentWrapper {
      margin-top: 0; } }
  #contentWrapper .columns {
    background-color: #FFFFFF; }
    #contentWrapper .columns a{
      display:block;
      padding:1rem 0;
    }
    #contentWrapper .columns .logo {
      width: 100%;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
      #contentWrapper .columns .logo:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
