/* Range Page */
/**
 * Foundation Mixins
 */
/**
 * Retina mixin
 */
#wrapper {
  background-image: url(../../../images/bricks-repeat.jpg);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position: top center;
  background-size: 1920px 985px;
  background-size: 960px 492.5px; }
  @media only screen and (min-width: 1440px) {
    #wrapper {
      background-size: 1920px 985px; } }
  @media only screen and (min-width: 961px) and (max-width: 1439px) {
    #wrapper {
      background-size: 1440px 738.75px; } }

#contentWrapper {
  margin-top: 220px;
  position: relative; }
  @media only screen and (min-width: 0) and (max-width: 960px) {
    #contentWrapper {
      margin-top: 0; } }

.intro {
  text-align: center; }
  .intro h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase; }
  .intro p {
    font-size: 2rem;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase; }

.block {
  float: left;
  clear: both;
  width: 100%; }
  .block.b1 {
    background-color: #e46156; }
  .block.b2 {
    background-color: #f9bd89; }
  .block.b3 {
    background-color: #a1cc84; }
  .block.b4 {
    background-color: #2daae1; }
  .block.b5 {
    background-color: #efa2b8; }
  .block.b6 {
    background-color: #a48ac0; }
  .block.b7 {
    background-color: #f39200; }
  .block.b8 {
    background-color: #df7c3e; }
  .block.b9 {
    background-color: #8cc9a3; }
  .block.b10 {
    background-color: #e2033f; }
  .block.b11 {
    background-color: #22305d; }
  .block .vert {
    float: left;
    width: 8%;
    position: relative;
    padding: 3rem 0 0 2%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .block .vert img {
      width: 3rem; }
      @media only screen and (min-width: 481px) and (max-width: 768px) {
        .block .vert img {
          width: 2.5rem; } }
      @media only screen and (min-width: 0) and (max-width: 480px) {
        .block .vert img {
          width: 1.75rem; } }
  .block .img {
    float: left;
    padding: 3rem 2% 0 2%;
    width: 20%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .block .img img {
      float: left;
      width: 100%; }
    @media only screen and (min-width: 0) and (max-width: 768px) {
      .block .img {
        display: none; } }
  .block.first .items {
    margin: 3rem 0 0 0; }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .block.first .items {
      margin: 3rem 0 0 4%; }
    .block.first .vert {
      padding: 6rem 0 0 2%; } }
  @media only screen and (min-width: 0) and (max-width: 480px) {
    .block.first .items {
      margin: 3rem 0 0 4%; }
    .block.first .vert {
      padding: 6rem 0 0 2%; } }
  .block.last .items {
    margin: 0 0 3rem 0; }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .block.last .items {
      margin: 0 0 3rem 4%; } }
  @media only screen and (min-width: 0) and (max-width: 480px) {
    .block.last .items {
      margin: 0 0 3rem 4%; } }
  .block .items {
    float: left;
    margin: 0;
    padding: 0 2% 0 2%;
    width: 65%;
    border-left: 0.5rem #FFFFFF solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .block .items .item {
      float: left;
      clear: both; }
      .block .items .item h3 {
        font-size: 3rem;
        margin-top: 3rem;
        line-height: 100%;
        color: #FFFFFF;
        position: relative;
        font-weight: bold; }
        .block .items .item h3::before {
          content: "";
          width: 3%;
          position: absolute;
          left: -4%;
          top: 1.4rem;
          border-top: 0.5rem #FFFFFF solid; }
      .block .items .item p {
        font-size: 2rem;
        line-height: 120%;
        color: #FFFFFF; }
    @media only screen and (min-width: 481px) and (max-width: 768px) {
      .block .items {
        width: 79%;
        margin-left: 4%;
        padding: 0 2% 0 4%; }
        .block .items .item h3 {
          font-size: 2rem; }
          .block .items .item h3::before {
            left: -6%;
            top: 0.9rem; }
        .block .items .item p {
          font-size: 1.5rem; } }
    @media only screen and (min-width: 0) and (max-width: 480px) {
      .block .items {
        width: 79%;
        margin-left: 4%;
        padding: 0 2% 0 4%; }
        .block .items .item h3 {
          font-size: 1.8rem; }
          .block .items .item h3::before {
            left: -6%;
            top: 0.9rem; }
        .block .items .item p {
          font-size: 1rem; } }
  .block .ball {
    background-color: #FFFFFF;
    position: absolute;
    left: 28%;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-left: 0.25rem;
    will-change: transform;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    @media only screen and (min-width: 481px) and (max-width: 768px) {
      .block .ball {
        left: 12%; } }
    @media only screen and (min-width: 0) and (max-width: 480px) {
      .block .ball {
        width: 2.5rem;
        height: 2.5rem;
        left: 12%; } }
  .block.first .ball {
    top: 3rem; }
  .block.last .ball {
    bottom: 3rem; }
