/* Home Page */
/**
 * Foundation Mixins
 */
/**
 * Retina mixin
 */
.video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
  @media only screen and (min-width: 0) and (max-width: 960px) {
    .video {
      float: left;
      clear: both;
      position: relative;
      left: auto;
      top: auto;
      height: auto;
      margin-top: 2rem; }
  }

  /*
  @media only screen and (min-width: 1440px) {
    .video {
     }
   }
  @media only screen and (min-width: 961px) and (max-width: 1439px) {
    .video {
     }
   }
   */
  .video .shim {
    float: left;
    clear: both;
    display: none; }
    @media only screen and (min-width: 0) and (max-width: 960px) {
      .video .shim {
        display: block !important; } }
  .video .mediaPlayer {
    left: -1px;
    top: -1px;
    width: 100%;
    height: 100%;
    position: absolute; }
    .video .mediaPlayer video {
      position: absolute;
      left: 0;
      top: 0; }

.gallery {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 7px #2d838c solid; }
  @media only screen and (min-width: 0) and (max-width: 960px) {
    .gallery {
      float: left;
      clear: both;
      position: relative;
      left: auto;
      top: auto;
      height: auto; } }
  @media only screen and (min-width: 1440px) {
    .gallery {
      border-bottom: 14px #2d838c solid; } }
  @media only screen and (min-width: 961px) and (max-width: 1439px) {
    .gallery {
      border-bottom: 10.5px #2d838c solid; } }
  .gallery .shim {
    display: none; }
    @media only screen and (min-width: 0) and (max-width: 960px) {
      .gallery .shim {
        display: block; } }
  .gallery .layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
    .gallery .layer.overlay {
      pointer-events: none; }
  .gallery .instruction {
    position: absolute;
    left: 0;
    top: 164px;
    width: 100%;
    text-align: center;
    top: 100px; }
    @media only screen and (min-width: 1440px) {
      .gallery .instruction {
        top: 200px; } }
    @media only screen and (min-width: 961px) and (max-width: 1439px) {
      .gallery .instruction {
        top: 150px; } }
    @media only screen and (min-width: 0) and (max-width: 960px) {
      .gallery .instruction {
        top: 20px; } }
    .gallery .instruction p {
      color: #d31145;
      font-weight: 800;
      font-size: 3rem;
      line-height: 2.5rem; }
      .gallery .instruction p span {
        font-size: 2rem; }

.carousel-outer {
  float: left;
  clear: both;
  position: relative; }
  .carousel-outer .carousel {
    float: left;
    clear: both;
    position: relative;
    width: 100%;
    height: auto; }
    .carousel-outer .carousel img.shim {
      float: left;
      clear: both;
      width: 100%; }
    .carousel-outer .carousel img.slide {
      position: absolute;
      top: 15%;
      width: 33%;
      will-change: transform;
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 10;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .carousel-outer .carousel img.slide[data-id="0"] {
        left: -50%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0; }
      .carousel-outer .carousel img.slide[data-id="1"] {
        left: 25%; }
      .carousel-outer .carousel img.slide[data-id="2"] {
        left: 50%;
        z-index: 1000;
        width: 50%;
        top: 0; }
      .carousel-outer .carousel img.slide[data-id="3"] {
        left: 75%; }
      .carousel-outer .carousel img.slide[data-id="4"], .carousel-outer .carousel img.slide[data-id="5"], .carousel-outer .carousel img.slide[data-id="6"], .carousel-outer .carousel img.slide[data-id="7"] {
        left: 150%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0; }
  .carousel-outer .controls {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }
    @media only screen and (min-width: 0) and (max-width: 768px) {
      .carousel-outer .controls {
        float: left;
        clear: both;
        left: auto;
        top: auto;
        right: auto;
        bottom: auto;
        position: relative;
        width: 100%;
        height: 5rem; }
        .carousel-outer .controls .arrow.left {
          left: 25% !important; }
        .carousel-outer .controls .arrow.right {
          right: 25% !important; } }
    .carousel-outer .controls .arrow {
      font-size: 5.5rem;
      color: #1c3765;
      position: absolute;
      top: 50%;
      will-change: transform;
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      cursor: pointer;
      transition: color .3s ease-out; }
      .carousel-outer .controls .arrow :before {
        margin: 0 1rem;
        transition: margin .3s ease-out; }
      .carousel-outer .controls .arrow :focus {
        outline: none; }
      .carousel-outer .controls .arrow.left {
        left: 0; }
      .carousel-outer .controls .arrow.right {
        right: 0; }
      .carousel-outer .controls .arrow:hover {
        color: #2d838c; }
        @media only screen and (min-width: 769px) {
          .carousel-outer .controls .arrow:hover :before {
            margin: 0 0; } }
      @media only screen and (min-width: 0) and (max-width: 768px) {
        .carousel-outer .controls .arrow {
          font-size: 4rem; } }

.svg-shim {
  float: left;
  clear: both;
  width: 100%; }

.svg-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block; }

svg {
  width: 100%;
  float: left;
  clear: both; }

svg.what-the-experts-say .upper-text {
  transition: .3s ease-out; }

svg.what-the-experts-say .flare {
  transform-origin: 320px 237px;
  transform: rotate(-20deg) scale(0.1);
  transition: transform .3s ease-out;
  -ms-transform: rotate(-20deg) scale(0.1);
  /* Internet Explorer */
  -ms-transform-origin: 320px 237px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); }

svg.what-the-experts-say:hover .upper-text {
  fill: #EC2A3A; }

svg.what-the-experts-say:hover .flare {
  transform: rotate(0deg) scale(0.8);
  -ms-transform: rotate(0deg) scale(0.8);
  /* Internet Explorer */ }

svg.join-our-fans .star {
  transform-origin: 270px 270px;
  transition: opacity .2s ease-out; }

svg.join-our-fans .label path {
  fill: #ffffff;
  transition: .2s ease-out; }

svg.join-our-fans:hover .star {
  opacity: 0.4; }

svg.join-our-fans:hover .label path {
  fill: #a7001a; }

svg.science .upper-text {
  fill: #ffffff;
  transition: .3s ease-out; }

svg.science:hover .upper-text {
  fill: #2d838c; }
