/* Oral Page */
/**
 * Foundation Mixins
 */
/**
 * Retina mixin
 */
#wrapper {
  background-image: url(../../../images/bricks-repeat.jpg);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position: top center;
  background-size: 1920px 985px;
  background-size: 960px 492.5px; }
  @media only screen and (min-width: 1440px) {
    #wrapper {
      background-size: 1920px 985px; } }
  @media only screen and (min-width: 961px) and (max-width: 1439px) {
    #wrapper {
      background-size: 1440px 738.75px; } }

#contentWrapper {
  margin-top: 220px;
  position: relative; }
  @media only screen and (min-width: 0) and (max-width: 960px) {
    #contentWrapper {
      margin-top: 0; } }

.intro {
  text-align: center; }
  .intro h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase; }
  .intro p {
    font-size: 2rem;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase; }
    @media only screen and (min-width: 0) and (max-width: 768px) {
      .intro p {
        font-size: 1.5rem; } }

.halfer {
  float: left;
  width: 48%;
  margin-bottom: 3rem !important; }
  .halfer:nth-child(2n) {
    margin-right: 2% !important; }
  .halfer:nth-child(2n-1) {
    margin-left: 2% !important; }
  @media only screen and (min-width: 0) and (max-width: 960px) {
    .halfer {
      width: 100%; }
      .halfer:nth-child(2n) {
        margin-right: 0% !important; }
      .halfer:nth-child(2n-1) {
        margin-left: 0% !important; } }

.block {
  float: left;
  position: relative;
  background-color: #FFFFFF; }
  .block .eq-inner {
    float: left;
    clear: both; }
  .block h1 {
    float: left;
    width: 100%;
    margin: 0; }
    .block h1 img {
      float: left;
      max-width: 100%; }
  .block .inner {
    float: left;
    background-color: #FFFFFF;
    z-index: 1000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2rem 3rem;
    text-align: center; }
    .block .inner p, .block .inner blockquote {
      font-size: 2rem;
      line-height: 110%; }
      @media only screen and (min-width: 0) and (max-width: 768px) {
        .block .inner p, .block .inner blockquote {
          font-size: 1.5rem; } }
    .block .inner blockquote {
      font-weight: bold; }
    .block .inner .btn {
      display: inline-block;
      margin-top: 1rem;
      padding: 1rem 2rem;
      font-size: 1.875rem;
      font-weight: bold;
      text-transform: uppercase; }
      .block .inner .btn:link, .block .inner .btn:visited {
        color: #FFFFFF; }
  .block.sensitive h1 {
    background-color: #f27497; }
  .block.sensitive .inner blockquote {
    color: #f27497; }
  .block.sensitive .btn {
    background-color: #f27497; }
    .block.sensitive .btn:hover, .block.sensitive .btn:visited:hover {
      color: #fbd1dd; }
  .block.whitening h1 {
    background-color: #ff9e19; }
  .block.whitening .inner blockquote {
    color: #1c3765; }
  .block.whitening .btn {
    background-color: #ff9e19; }
    .block.whitening .btn:hover, .block.whitening .btn:visited:hover {
      color: #ffdfb2; }
  .block.enamel h1 {
    background-color: #00a2ae; }
  .block.enamel .inner blockquote {
    color: #00a2ae; }
  .block.enamel .btn {
    background-color: #00a2ae; }
    .block.enamel .btn:hover, .block.enamel .btn:visited:hover {
      color: #48f2ff; }
  .block.cavity h1 {
    background-color: #803d97; }
  .block.cavity .inner blockquote {
    color: #803d97; }
  .block.cavity .btn {
    background-color: #803d97; }
    .block.cavity .btn:hover, .block.cavity .btn:visited:hover {
      color: #c698d5; }
  .block .shadow {
    position: absolute;
    z-index: 10;
    left: -90px;
    bottom: 253px;
    width: 90px; }
    .block .shadow.right {
      left: auto;
      right: -90px;
      bottom: 0;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH"; }

@media only screen and (min-width: 961px) {
  .columns .enamel .eq-inner h1 img{
    max-width:50%;
  }
}