/* Range Page */
/**
 * Foundation Mixins
 */
/**
 * Retina mixin
 */
#wrapper {
  background-image: url(../../../images/bricks-repeat.jpg);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position: top center;
  background-size: 1920px 985px;
  background-size: 960px 492.5px; }
  @media only screen and (min-width: 1440px) {
    #wrapper {
      background-size: 1920px 985px; } }
  @media only screen and (min-width: 961px) and (max-width: 1439px) {
    #wrapper {
      background-size: 1440px 738.75px; } }

#contentWrapper {
  margin-top: 220px;
  position: relative; }
  @media only screen and (min-width: 0) and (max-width: 960px) {
    #contentWrapper {
      margin-top: 0; } }

.intro {
  float: left;
  clear: both;
  position: relative;
  background-color: #FFFFFF; }
  @media only screen and (min-width: 0) and (max-width: 768px) {
    .intro {
      background-color: #7accc8; }
      .intro h1, .intro p {
        color: #FFFFFF; } }
  .intro .tGrp {
    background-color: #7accc8;
    height: 100%; }
    .intro .tGrp .tooth {
      float: left;
      width: 100%; }
    @media only screen and (min-width: 0) and (max-width: 768px) {
      .intro .tGrp .tooth {
        width: auto;
        height: 150px; } }
  @media only screen and (min-width: 0) and (max-width: 768px) {
    .intro .inner {
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 2rem 2rem 2rem; }
      .intro .inner h1, .intro .inner p {
        padding: 0;
        margin: 0; } }
  .intro .inner a.btn {
    background-color: #20b8cd;
    display: inline-block;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0 1rem 2%; }
    @media only screen and (min-width: 0) and (max-width: 768px) {
      .intro .inner a.btn {
        margin: 2rem 2rem 0rem 0rem; } }
  .intro h1, .intro p {
    width: 100%;
    padding: 1rem 2%;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .intro h1 {
    font-size: 2rem;
    line-height: 100%;
    font-weight: 700;
    text-transform: uppercase; }
    @media only screen and (min-width: 0) and (max-width: 768px) {
      .intro h1 {
        font-size: 1.5rem; } }
  .intro p {
    font-size: 1.5rem;
    line-height: 100%;
    font-weight: 700;
    margin-bottom: 1rem; }
    @media only screen and (min-width: 0) and (max-width: 768px) {
      .intro p {
        font-size: 1.2rem; } }

.intro-baking-soda {
  padding-right: 1.5rem; }
  @media only screen and (min-width: 0) and (max-width: 960px) {
    .intro-baking-soda {
      padding-right: 0; } }
  .intro-baking-soda .inner {
    background-color: #1b83b8; }
    .intro-baking-soda .inner a.btn {
      background-color: #20b8cd; }

.intro-active-calcium {
  padding-left: 1.5rem; }
  @media only screen and (min-width: 0) and (max-width: 960px) {
    .intro-active-calcium {
      padding-left: 0; } }
  .intro-active-calcium .inner {
    background-color: #20b8cd; }
    .intro-active-calcium .inner a.btn {
      background-color: #1b83b8; }

.intro-baking-soda,
.intro-active-calcium {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .intro-baking-soda .inner,
  .intro-active-calcium .inner {
    width: 100%;
    min-height: 100px;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    color: #FFFFFF; }
    .intro-baking-soda .inner h1,
    .intro-active-calcium .inner h1 {
      margin: 0;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 700;
      color: #FFFFFF; }
    .intro-baking-soda .inner p,
    .intro-active-calcium .inner p {
      color: #FFFFFF;
      max-width: 50%;
      font-size: 1.5rem;
      line-height: 120%; }
      @media only screen and (min-width: 0) and (max-width: 480px) {
        .intro-baking-soda .inner p,
        .intro-active-calcium .inner p {
          max-width: 100%; } }
      @media only screen and (min-width: 0) and (max-width: 768px) {
        .intro-baking-soda .inner p,
        .intro-active-calcium .inner p {
          font-size: 1.2rem; } }
    .intro-baking-soda .inner a.btn,
    .intro-active-calcium .inner a.btn {
      display: inline-block;
      width: 50%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: #FFFFFF;
      padding: 1rem 2rem;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center; }
      @media only screen and (min-width: 0) and (max-width: 480px) {
        .intro-baking-soda .inner a.btn,
        .intro-active-calcium .inner a.btn {
          width: 100%; } }
    .intro-baking-soda .inner .icon,
    .intro-active-calcium .inner .icon {
      position: absolute;
      right: 2rem;
      top: 4rem;
      max-width: 40%;
      height: 100px; }
      @media only screen and (min-width: 0) and (max-width: 480px) {
        .intro-baking-soda .inner .icon,
        .intro-active-calcium .inner .icon {
          display: none; } }

.info {
  padding: 2rem 0; }
  .info.power {
    background-color: #1b83b8; }
    .info.power .btn {
      background-color: #20b8cd; }
      .info.power .btn:hover {
        color: #d9f5f9; }
  .info .soda {
    margin-top: 1rem;
    text-align: center; }
    .info .soda img {
      width: 100%;
      max-width: 540px; }
  .info.protect {
    background-color: #20b8cd; }
    .info.protect .btn {
      background-color: #1b83b8; }
      .info.protect .btn:hover {
        color: #c2e5f6; }
  .info h1 {
    font-size: 3rem;
    line-height: 110%;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    position: relative; }
    @media only screen and (min-width: 0) and (max-width: 480px) {
      .info h1 {
        font-size: 2rem; } }
    .info h1 img.icon {
      height: 6rem;
      margin-right: 1rem; }
    .info h1 span {
      position: absolute;
      left: 7rem;
      right: 0;
      top: 50%;
      display: block;
      will-change: transform;
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  .info h3 {
    font-size: 2rem;
    line-height: 120%;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase; }
  .info p, .info ul li {
    color: #FFFFFF;
    font-size: 1.5rem;
    line-height: 120%;
    padding-right: 4%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0; }
    @media only screen and (min-width: 0) and (max-width: 768px) {
      .info p, .info ul li {
        font-size: 1.2rem; } }
  .info ul {
    padding-left: 2rem; }
    .info ul li {
      margin-top: 0.5rem; }
  .info .block {
    background-color: #FFFFFF;
    padding: 1rem 2%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .info .block sup {
      vertical-align: super;
      font-size: small; }
    @media only screen and (min-width: 0) and (max-width: 960px) {
      .info .block {
        margin-top: 2rem !important; } }
    .info .block h3 {
      font-size: 2rem;
      text-transform: uppercase;
      color: #1b83b8;
      font-weight: 700;
      margin: 0; }
    .info .block ul {
      list-style: none;
      padding-left: 0;
      padding-bottom: 1rem; }
      .info .block ul li {
        margin-top: 1rem;
        font-size: 1.5rem;
        line-height: 110%;
        color: #1b83b8;
        padding-left: 4rem;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: transparent url(/images/science/tick.svg) no-repeat top left;
        background-size: 3rem 3rem; }
        @media only screen and (min-width: 0) and (max-width: 768px) {
          .info .block ul li {
            font-size: 1.2rem; } }
  .info .btn {
    display: inline-block;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold; }

.video {
  float: left;
  position: relative;
  margin-top: 1rem !important; }
  .video .shim {
    width: 100%;
    float: left;
    clear: both; }
    @media only screen and (min-width: 0) and (max-width: 960px) {
      .video .shim {
        display: block !important; } }
  .video .mediaPlayer {
    left: -1px;
    top: -1px;
    width: 100%;
    height: 100%;
    position: absolute; }
    .video .mediaPlayer video {
      position: absolute;
      left: 0;
      top: 0; }

.carouselGroup h3 {
  display: inline-block;
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #FFFFFF;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 0) and (max-width: 480px) {
    .carouselGroup h3 {
      width: 100%; } }

.carouselGroup.grp1 h3 {
  background-color: #1b83b8; }

.carouselGroup.grp2 h3 {
  background-color: #20b8cd; }

.carousel-outer {
  float: left;
  clear: both;
  position: relative; }
  .carousel-outer .carousel {
    float: left;
    clear: both;
    position: relative;
    width: 100%;
    height: auto; }
    .carousel-outer .carousel img.shim {
      float: left;
      clear: both;
      width: 100%; }
    .carousel-outer .carousel img.slide {
      position: absolute;
      top: 15%;
      width: 33%;
      will-change: transform;
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 10;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .carousel-outer .carousel img.slide[data-id="0"] {
        left: -50%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0; }
      .carousel-outer .carousel img.slide[data-id="1"] {
        left: 25%; }
      .carousel-outer .carousel img.slide[data-id="2"] {
        left: 50%;
        z-index: 1000;
        width: 50%;
        top: 0; }
      .carousel-outer .carousel img.slide[data-id="3"] {
        left: 75%; }
      .carousel-outer .carousel img.slide[data-id="4"], .carousel-outer .carousel img.slide[data-id="5"], .carousel-outer .carousel img.slide[data-id="6"], .carousel-outer .carousel img.slide[data-id="7"] {
        left: 150%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0; }
  .carousel-outer .controls {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }
    @media only screen and (min-width: 0) and (max-width: 768px) {
      .carousel-outer .controls {
        float: left;
        clear: both;
        left: auto;
        top: auto;
        right: auto;
        bottom: auto;
        position: relative;
        width: 100%;
        height: 5rem; }
        .carousel-outer .controls .arrow.left {
          left: 25% !important; }
        .carousel-outer .controls .arrow.right {
          right: 25% !important; } }
    .carousel-outer .controls .arrow {
      font-size: 5.5rem;
      color: #1c3765;
      position: absolute;
      top: 50%;
      will-change: transform;
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      cursor: pointer;
      transition: color .3s ease-out; }
      .carousel-outer .controls .arrow :before {
        margin: 0 1rem;
        transition: margin .3s ease-out; }
      .carousel-outer .controls .arrow :focus {
        outline: none; }
      .carousel-outer .controls .arrow.left {
        left: 0; }
      .carousel-outer .controls .arrow.right {
        right: 0; }
      .carousel-outer .controls .arrow:hover {
        color: #2d838c; }
        @media only screen and (min-width: 769px) {
          .carousel-outer .controls .arrow:hover :before {
            margin: 0 0; } }
      @media only screen and (min-width: 0) and (max-width: 768px) {
        .carousel-outer .controls .arrow {
          font-size: 4rem; } }



.baking-soda{
  float:left;
  clear:none;
  width:100%;
  margin-top:3rem;
}
.baking-soda .bg{
  background-color:#20b8cd;
  padding:2rem 2%;
  box-sizing:border-box;
  width:100%;
}
.baking-soda .row{
  display:flex;
  flex-wrap:wrap;
  width:100%;
  float:none;
  clear:both;
  margin:0;
}
.baking-soda .row:after{
}
.baking-soda .col{
  flex-basis:100%;
  width:100%;
}
.baking-soda .col.mixed .pic{
  padding:2rem 2rem 2rem 2rem;
  background-image:url('../../../images/science/baking-soda.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:50% 50%;
  box-sizing:border-box;
  min-height:400px;

}
.baking-soda .col.mixed .pic.flexcolumn{
  display:flex;
  flex-wrap: wrap;
  align-content:space-between;
}
.baking-soda .col.mixed .pic.flexcolumn h3,
.baking-soda .col.mixed .pic.flexcolumn p{
  width:100%;
  margin:0;
}

.baking-soda .col.mixed .figureBox{
  position:absolute;
  left:0px;
  bottom:0px;
  width:100%;
  
  background-color:#7f7f7f;
  overflow:hidden;
  display:none;
}
.baking-soda .col.mixed .figureBox figure.soda{
  display:block;
  margin:0;
  padding:0;
  width:100%;
  text-align:center;
  background-color:#7f7f7f;
  width:100%;
  height:100%;
  position:relative;
  padding-top:200px;
}
.baking-soda .col.mixed .figureBox figure.soda img{
  margin:0 auto;
  display:block;
  position:absolute;
  left:0%;
  top:0%;
  transform:translate(0%,0%);
  object-fit:cover;
  width:100%;
  height:100%;
}

.baking-soda .col.textonly{
  background-color:#fff;
  padding:1rem 2%;
}
.baking-soda h1 {
    font-size: 3rem;
    line-height: 110%;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    position: relative;
}
@media only screen and (min-width: 0) and (max-width: 480px) {
  .baking-soda  h1 {
    font-size: 2rem;
  }
}
.baking-soda  h1 img.icon {
  height: 6rem;
  margin-right: 1rem;
}
.baking-soda  h1 span {
  position: absolute;
  left: 7rem;
  right: 0;
  top: 50%;
  display: block;
  will-change: transform;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.baking-soda h3 {
  font-size: 2rem;
  line-height: 120%;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
}
.baking-soda p,
.baking-soda ul > li {
  color: #fff;
  font-size: 1.5rem;
  line-height: 120%;
  padding-right: 4%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 1rem 0;
}
.baking-soda .col.mixed h3,
.baking-soda .col.mixed p{
  background-color:#20b8cd;
  padding:0.5rem;
}
.baking-soda .col.textonly h3,
.baking-soda .col.textonly ul > li {
  color: #1b83b8;
}
.baking-soda .col.textonly ul{
  list-style: none;
  padding-left: 0;
  padding-bottom: 1rem;
}
.baking-soda .col.textonly ul > li {
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 110%;
    color: #1b83b8;
    padding-left: 4rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent url(/images/science/tick.svg) no-repeat top left;
    background-size: 3rem 3rem;
}
.baking-soda .btn {
  margin-top:3rem;
  display: inline-block;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #1b83b8
}

@media only screen and (min-width: 0) and (max-width: 767px) {
  .baking-soda p,
  .baking-soda ul > li {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 768px) {
  .baking-soda .row{
    flex-wrap:nowrap;
    width:100%;
    margin:0;
  }
  .baking-soda .col.helfwidth{
    flex-basis:50%;
    width:50%;
    min-width:50%;
  }
  .baking-soda .col.mixed .pic{
    min-height:100%;
    height:100%;
  }
}
