/* Range Page */
/**
 * Foundation Mixins
 */
/**
 * Retina mixin
 */
#wrapper {
  background-image: url(../../../images/bricks-repeat.jpg);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position: top center;
  background-size: 1920px 985px;
  background-size: 960px 492.5px; }
  @media only screen and (min-width: 1440px) {
    #wrapper {
      background-size: 1920px 985px; } }
  @media only screen and (min-width: 961px) and (max-width: 1439px) {
    #wrapper {
      background-size: 1440px 738.75px; } }

#contentWrapper {
  margin-top: 220px;
  position: relative; }
  @media only screen and (min-width: 0) and (max-width: 960px) {
    #contentWrapper {
      margin-top: 0; } }

.intro {
  text-align: center; }
  .intro h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase; }
  .intro p {
    font-size: 2rem;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase; }

.panel {
  background-color: #FFFFFF;
  min-height: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3rem; }
  .panel h5 {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    color: #1c3765; }
  .panel p {
    font-size: 1.4rem;
    line-height: 150%;
    font-weight: 400; }

.form {
  float: left;
  clear: both;
  width: 100%; }
  .form .formRow {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.5rem; }
    .form .formRow label {
      float: left;
      width: 40%;
      text-transform: uppercase;
      color: #1c3765;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0.75rem 0; }
      @media only screen and (min-width: 0) and (max-width: 480px) {
        .form .formRow label {
          width: 100%; } }
    .form .formRow .input {
      float: left;
      width: 60%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 2px #9a9a9a solid;
      padding: 0.75rem;
      font-family: "Open Sans", sans-serif;
      font-size: 1.5rem; }
      .form .formRow .input.short {
        width: 200px; }
      @media only screen and (min-width: 0) and (max-width: 480px) {
        .form .formRow .input {
          width: 100%; } }
    .form .formRow .btn-submit {
      background-color: #1c3765;
      border: 1px #1c3765 solid;
      color: #FFFFFF;
      padding: 0.75rem 2rem;
      cursor: pointer;
      font-size: 1.5rem;
      text-transform: uppercase; }
    .form .formRow .error {
      float: left;
      clear: both;
      color: #d31145;
      width: 100%;
      text-transform: uppercase;
      font-size: 1rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 40%;
      margin-top: 0.5rem; }
      @media only screen and (min-width: 0) and (max-width: 480px) {
        .form .formRow .error {
          padding-left: 0; } }
